/*--------------- general*/
:root{
    --solid_background: #0076F5;
    --page-title: #400DFF;
    --subtitle-instructions:  #2135AD;
    --btn-text-menu: #2135AD;
    --withoutBG:rgba(236, 12, 12, 0);
}

*{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;   
}
body{background-color: #ffffff; }

.grid-container{
    display: grid;
    grid-template-areas: 
    "header" "header" "header" "header"
    "body" "body" "body" "body"
    ;
}

/*---------------------------------------------------Header*/
.grid-header {
    display: flex;
    grid-area: header;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--solid_background);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 4rem;
}
.logo{
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
}
.btn-inicio, .btn-list-header{
    color:white;
    margin-left: 3rem;
    background-color: var(--withputBG);
    border: var(--withputBG);
    font-size: 20px;
    transition: 1s;
    height: 4rem;
    cursor: pointer;
}.btn-inicio:hover, .btn-list-header:hover{
    background-color: rgb(156, 134, 248);
    font-size: 25px;
}
.list-btn {
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
    margin-right: 7rem;
}
.hamburguer-menu{
    color:white;
    margin-top: 10px;
    position: absolute;
    filter: invert(100%);
    height: 2rem;
    width: 2rem;
    right: 3%;
    cursor: pointer;
    display: none;
}
/*----------------------------------------------------------------------------body*/
.grid-body{
    grid-area: body;
    display:flex;
}
/*--------------------------------------------- menu games */
#div-body1 {
    width: 30%;
    border-right: 4px solid var(--page-title);
    margin-top: 4rem;
    display: block;
}
.menu, button{
  background-color: var(--withoutBG);
  color: var(--btn-text-menu);
  transition: 0.3s;
}
.btn-menu {
    border-color: var(--withoutBG);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}.btn-menu:active{
    background-color: rgb(230, 242, 253)
}
.list-element:hover,.btn-menu:hover{
    font-weight: bold;
}
.btn-menu:focus{
    outline: 3px solid #0076F5;
    font-weight: bold;
}

/*--------------------------------------------- iframe page */
#div-iframe-container {
    width:65%;
    height: 40rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    border-color: var(--withoutBG);
}

@media only screen and (max-width: 849px){
    .hamburguer-menu{display: block;}
    
    .btn-inicio, .btn-list-header{
        margin-left: 0.6rem;
        font-size: 15px;
    }.logo{margin-left: 1rem}
    
    .list-btn{right: -3rem;}
    #div-body1{
    border-right: 0px;
    z-index: 10;
    position: absolute;
     border-right: 0px;
     top: 0rem;
     right: 15px;
     box-shadow: 0px 1px 5px 2px rgb(210, 173, 173); 
     padding-left: 0;  
     width:35%;
     display: none;
     background-color: #ffffff;
    }
    #div-iframe-container{
        width: 100%;
        height:70rem;
    }
}
@media screen and (max-width: 500px){
    .btn-inicio{display: none;}
}

@media screen and (min-width: 850){
    #div-body1{display: block;}
}
